<ion-header>
  <ion-toolbar>
    <ion-title>Página inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card>
      <ion-card-subtitle class="ion-text-center">Gerenciamento de compromissos da casa</ion-card-subtitle>
      <img src="assets\logo.png" alt="logo">
    </ion-card>
  </div>
  <div class="ion-text-center">
    <ion-button expand="full" href="../login/">Login</ion-button>
    <ion-button expand="full" color="medium" href="../inicial/">Cadastrar</ion-button>
    <ion-button size="small" expand="full" fill="clear" href="../inicial/">Termos e Condições de uso</ion-button>
  </div>
</ion-content>


